/tb/
/.idea/
/venv/
/checkpoints/

**/__pycache__/
**/dataset/
**/images/

/dataset_preparation/parsing/geckodriver.log
/dataset_preparation/labeling/data/dataset_source/

accuracy_test.py
aug_test.py
train_old.py
model_old.py
__test.py
